In [1220]:
import pandas as pd

In [1221]:
df = pd.read_csv("heart.csv")

In [1222]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [1223]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [1224]:
df[(df.Age>df.Age.mean()+(3*df.Age.std()))|(df.Age<df.Age.mean()+(-3*df.Age.std())) ]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [1225]:
df[(df.Cholesterol>df.Cholesterol.mean()+(3*df.Cholesterol.std()))|(df.Cholesterol<df.Cholesterol.mean()+(-3*df.Cholesterol.std())) ]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [1226]:
df.shape

(918, 12)

In [1227]:
df1 = df[(df.Cholesterol<=df.Cholesterol.mean()+(3*df.Cholesterol.std()))&(df.Cholesterol>=df.Cholesterol.mean()+(-3*df.Cholesterol.std()))]

In [1228]:
df1.shape

(915, 12)

In [1229]:
df[(df.MaxHR>df.MaxHR.mean()+(3*df.MaxHR.std()))|(df.MaxHR<df.MaxHR.mean()+(-3*df.MaxHR.std())) ]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
390,51,M,ASY,140,0,0,Normal,60,N,0.0,Flat,1

In [1230]:
df2 = df1[(df1.MaxHR<=df1.MaxHR.mean()+(3*df1.MaxHR.std()))&(df1.MaxHR>=df1.MaxHR.mean()+(-3*df1.MaxHR.std())) ]

In [1231]:
df2.shape

(914, 12)

In [1232]:
df[(df.FastingBS>df.FastingBS.mean()+(3*df.FastingBS.std()))|(df.FastingBS<df.FastingBS.mean()+(-3*df.FastingBS.std())) ]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [1233]:
df[(df.Oldpeak>df.Oldpeak.mean()+(3*df.Oldpeak.std()))|(df.Oldpeak<df.Oldpeak.mean()+(-3*df.Oldpeak.std())) ]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
324,46,M,ASY,100,0,1,ST,133,N,-2.6,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [1234]:
df3 = df2[(df2.Oldpeak<=df.Oldpeak.mean()+(3*df.Oldpeak.std()))&(df.Oldpeak>=df.Oldpeak.mean()+(-3*df.Oldpeak.std())) ]

/var/folders/w8/s5t40zys2lg2hxnvvxxnyqdm0000gn/T/ipykernel_1585/2590861398.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df2[(df2.Oldpeak<=df.Oldpeak.mean()+(3*df.Oldpeak.std()))&(df.Oldpeak>=df.Oldpeak.mean()+(-3*df.Oldpeak.std())) ]

In [1235]:
df3.shape

(907, 12)

In [1236]:
df[(df.RestingBP>df.RestingBP.mean()+(3*df.RestingBP.std()))|(df.RestingBP<df.RestingBP.mean()+(-3*df.RestingBP.std())) ]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
449,55,M,NAP,0,0,0,Normal,155,N,1.5,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [1237]:
df4 = df3[(df3.RestingBP<=df3.RestingBP.mean()+(3*df3.RestingBP.std()))&(df3.RestingBP>=df3.RestingBP.mean()+(-3*df3.RestingBP.std())) ]

In [1238]:
df4.shape

(899, 12)

In [1239]:
df = df4.copy()

In [1240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 899 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             899 non-null    int64
 1   Sex             899 non-null    object
 2   ChestPainType   899 non-null    object
 3   RestingBP       899 non-null    int64
 4   Cholesterol     899 non-null    int64
 5   FastingBS       899 non-null    int64
 6   RestingECG      899 non-null    object
 7   MaxHR           899 non-null    int64
 8   ExerciseAngina  899 non-null    object
 9   Oldpeak         899 non-null    float64
 10  ST_Slope        899 non-null    object
 11  HeartDisease    899 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 91.3+ KB

In [1241]:
from sklearn.preprocessing import LabelEncoder

In [1242]:
a = LabelEncoder()

In [1243]:
df["ChestPainType"]= a.fit_transform(df.ChestPainType)
df["RestingECG"]= a.fit_transform(df.RestingECG)
df["ST_Slope"]= a.fit_transform(df.ST_Slope)
df["Sex"]= a.fit_transform(df.Sex)
df["ExerciseAngina"]= a.fit_transform(df.ExerciseAngina)

In [1244]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [1245]:
from sklearn.preprocessing import OneHotEncoder

In [1246]:
b = OneHotEncoder()

In [1247]:
df1 = pd.DataFrame(b.fit_transform(df[["ChestPainType"]]).toarray())
df2 = pd.DataFrame(b.fit_transform(df[["RestingECG"]]).toarray())
df3 = pd.DataFrame(b.fit_transform(df[["ST_Slope"]]).toarray())
df4 = pd.DataFrame(b.fit_transform(df[["Age"]]).toarray())
df5 = pd.DataFrame(b.fit_transform(df[["ExerciseAngina"]]).toarray())

In [1248]:
df1

       0    1    2    3
0    0.0  1.0  0.0  0.0
1    0.0  0.0  1.0  0.0
2    0.0  1.0  0.0  0.0
3    1.0  0.0  0.0  0.0
4    0.0  0.0  1.0  0.0
..   ...  ...  ...  ...
894  0.0  0.0  0.0  1.0
895  1.0  0.0  0.0  0.0
896  1.0  0.0  0.0  0.0
897  0.0  1.0  0.0  0.0
898  0.0  0.0  1.0  0.0

[899 rows x 4 columns]

In [1249]:
df.reset_index(drop=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
894,45,1,3,110,264,0,1,132,0,1.2,1,1
895,68,1,0,144,193,1,1,141,0,3.4,1,1
896,57,1,0,130,131,0,1,115,1,1.2,1,1
897,57,0,1,130,236,0,0,174,0,0.0,1,1
898,38,1,2,138,175,0,1,173,0,0.0,2,0

In [1250]:
df_ = pd.concat([df.reset_index(drop=True),df1.reset_index(drop=True),df2.reset_index(drop=True),df3.reset_index(drop=True),df4.reset_index(drop=True),df5.reset_index(drop=True)],axis=1)

In [1251]:
df_.shape

(899, 74)

In [1253]:
df_

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,...,42,43,44,45,46,47,48,49,0,1
0,40,1,1,140,289,0,1,172,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,49,0,2,160,180,0,1,156,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,37,1,1,130,283,0,2,98,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,48,0,0,138,214,0,1,108,1,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,54,1,2,150,195,0,1,122,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,45,1,3,110,264,0,1,132,0,1.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
895,68,1,0,144,193,1,1,141,0,3.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
896,57,1,0,130,131,0,1,115,1,1.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
897,57,0,1,130,236,0,0,174,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
898,38,1,2,138,175,0,1,173,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [1256]:
X = df_.drop(["HeartDisease"],axis=1)

In [1257]:
y = df_.HeartDisease

In [1329]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [1330]:
from sklearn.svm import SVC
svm = SVC()

In [1331]:
svm.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

SVC()

In [1332]:
svm.score(X_test,y_test)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.7388888888888889

In [1333]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()

In [1334]:
LR.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [1335]:
LR.score(X_test,y_test)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.8666666666666667

In [1336]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier()

In [1337]:
RF.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

RandomForestClassifier()

In [1338]:
RF.score(X_test,y_test)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.8555555555555555

# ------------------------------------------------

In [1339]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)

In [1340]:
X_pc = pca.fit_transform(X)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [1341]:
from sklearn.model_selection import train_test_split
X_train_pc, X_test_pc, y_train, y_test = train_test_split(X_pc, y, test_size=0.20)

In [1342]:
from sklearn.svm import SVC
svm_ = SVC()

In [1343]:
svm_.fit(X_train_pc,y_train)

SVC()

In [1344]:
svm_.score(X_test_pc,y_test)

0.75

In [1345]:
from sklearn.linear_model import LogisticRegression
LR_ = LogisticRegression()

In [1346]:
LR_.fit(X_train_pc,y_train)

LogisticRegression()

In [1347]:
LR_.score(X_test_pc,y_test)

0.7222222222222222

In [1348]:
from sklearn.ensemble import RandomForestClassifier
RF_ = RandomForestClassifier()

In [1349]:
RF_.fit(X_train_pc,y_train)

RandomForestClassifier()

In [1350]:
RF_.score(X_test_pc,y_test)

0.75